cb-smbux-vsp-score/src/main/mule/Salesforce .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="Salesforce_Flow" doc:id="aaf028e4-c350-4daa-aafc-bd6e3d590bbb" >
		<http:listener doc:name="Listener" doc:id="319d1d5d-d284-4d60-a503-2c55bff7dfbc" config-ref="HTTP_Listener_config" path="/product"/>
		<ee:transform doc:name="Transform Message" doc:id="fa5bd67e-f17a-4e41-8cb4-984c1f7a7a9e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ApplicantInfo" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="dcbb1f19-ed30-459a-b2b6-4fdd61925424" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select fields(All) from Product_Role__c
where Id= ':applicationId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	applicationId: vars.ApplicantInfo.applicationId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="e9cd0f9b-0fee-4598-9722-2e811e7bd758" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Salesforce_Flow1" doc:id="4ccea162-680c-4b3c-bb1a-24ec89ff876f" >
		<http:listener doc:name="Listener" doc:id="886e0c9d-0005-4071-967b-e6a5effa2273" config-ref="HTTP_Listener_config" path="/roll"/>
		<ee:transform doc:name="Transform Message" doc:id="6299363e-8600-46f8-b9b1-4e7305b75466" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ApplicantInfo" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="88160be0-925e-49a2-8fe7-5644cc151a64" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT FIELDS(ALL) FROM Additional_Applicants__c LIMIT 200 
where Application__c= ':applicationId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	applicationId: vars.ApplicantInfo.applicationId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="023af484-df90-438c-be98-033de6d06a53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Salesforce_Flow2" doc:id="4c61aafc-e9c7-4646-a3ba-182b85aaf660" >
		<http:listener doc:name="Listener" doc:id="c67232d4-e165-4756-9ed2-51b7aa323cb7" config-ref="HTTP_Listener_config" path="/vsp"/>
		<ee:transform doc:name="Transform Message" doc:id="4b50601d-86c0-4a0a-90f8-71ef8a904884" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="ApplicantInfo" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="40fc750b-7172-4687-a9f8-5c7ff2bd9808" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select fields(All) from Additional_Applicants__c
where Id= ':applicationId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	applicationId: vars.ApplicantInfo.applicationId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="1b298f74-5993-4f26-976a-50137a0511fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
